header {
    margin: 0;
    /* border-bottom: 2px solid black; */
    text-align: center;
    text-shadow: 2px 2px blue;
}

header h1 {
    margin: 0;
    padding: .5em 0;
    color: green;
}
tbody{
    overflow: auto;
}

footer {
    clear: both;
    margin-top: 1em;
    /* border-top: 2px solid black; */
}
footer p {
    text-align: center;
    font-size: 80%;
    margin: 1em 0;
}

.headerColor{
    color: grey;
}
.div-container{
    display: flex;
    justify-content: center;
}
.dropDown-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 20px 0;
}
.btn-class{
    margin: 20px;
    padding: 10px;
}
.dropDown_selector{
    padding: 0 5px;
    margin: 3px 0;
    border-radius: 5px;
    height: 35px;
    border: 3px lightblue;
    width: 80vw;
    font-weight: bold;
}
.table-body{
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: visible;
}


#img-container img{
    width: 100%;
    height: auto;
}